@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url('/fonts/AkzidenzGroteskBQ-Medium.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskBQ-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Frutiger LT Std';
    src: url('/fonts/FrutigerLTStd-Italic.woff2') format('woff2'),
        url('/fonts/FrutigerLTStd-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Frutiger LT Std';
    src: url('/fonts/FrutigerLTStd-Bold.woff2') format('woff2'),
        url('/fonts/FrutigerLTStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Frutiger LT Std';
    src: url('/fonts/FrutigerLTStd-Roman.woff2') format('woff2'),
        url('/fonts/FrutigerLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

