@use "@/styles/theme";

// Full-width footer container for responsive background style
.container {
  color: theme.$light-colour;
  background-color: theme.$darkest-colour;

  // Always appear at bottom of page
  margin-top: auto;
}

// We manage the footer sections with a flexi-grid
.grid {
  position: relative;
  margin: 2rem theme.$page-margin;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  // Cap width for ultrawide displays
  max-width: 1440px;

  .section {
    // TODO: make responsive; should be 2 columns on desktop, 1 on mobile

    ul {
      // Remove default bulleted list style
      list-style: none;
      padding: 0;
      margin: 0;

      display: flex;

      // Let the elements breathe
      margin-top: 0.5rem;

      li {
        flex: auto;
      }

      a {
        // Make clickable area fit the img
        display: block;
      }
    }
    
    // Specific section tweaks
    .attributionLogos {
      gap: 1rem;
      max-width: 10rem;
    }
    
    .socialLogos {
      gap: 0.75rem;
      max-width: 7rem;
    }
  }
}

// Line to separate sections
.divider {
  margin: 0 theme.$page-margin;
  height: 0.2rem;
  background: theme.$primary-colour;
}

// Info bar at bottom of page
.infoBar {
  margin: 1rem theme.$page-margin;

  // Right-align
  text-align: right;
}