// pch.wales master page layout
@use "@/styles/theme";

// The root object of the site, including header and footer
.root {
  // Ensure sticky header & footer
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

// The root object of Layout
.main {
  margin: 1rem theme.$page-margin;

  ul {
    margin: 0;
    padding: 0 0 0 1.5rem;
  }

  li {
    padding: 0.25rem 0;
  }
}

// The root object of each page that uses Layout
.contentRoot {}

.contentSection {
  padding: 1rem 0;

  h1,
  h2,
  h3 {
    padding: 0.5rem 0;
  }

  p {
    padding: 0.5rem 0;
  }

  // When paragraphs are continuous, prevent double padding
  p+p {
    padding: 0 0 0.5rem;
  }
}

// For call-to-action elements, like forms and quick buttons
.outlineSection {
  @extend .contentSection;

  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 2rem;

  // Cap section's width and centre elements when exceeded
  max-width: 40rem;
  margin: 0 auto;

  // Outline
  border: 0.75rem theme.$primary-colour solid;
}