// pch.wales master page layout
@use "@/styles/theme";

// Root site wrapper to ensure sticky header & footer
.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

// `main` is where the copy lives
.main {
  padding: 2rem theme.$page-margin;
}

// Temporary!
// Using basic spacing for now, will be changed
.contentSection {
  padding: 0.5rem 0 0;

  h2,
  h3,
  p {
    padding: 0.5rem 0 0;
  }

// For call-to-action elements, like forms and quick buttons
.outlineSection {
  @extend .contentSection;

  padding: 1rem 1.5rem 2rem;

  // Cap section's width and centre elements when exceeded
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 0 auto;

  // Outline
  border: 0.75rem theme.$primary-colour solid;

  // Let the outline section overflow slightly so width isn't too constrained
  // margin: 0 -1rem;
}